{% extends 'GreenFirstBundle::layout.html.twig' %}

{% block body %}

    <h1>Hello index Action!</h1>

    <p><a href="{{ path('random') }}">Random page</a></p>
    <p><a href="{{ path('hello') }}">Hello page</a></p>
    <p><a href="{{ path('blog') }}">Blog page</a></p>

{% endblock %}

